.record_button {
  display: inline-block;

  text-align: center;
  text-decoration: none;
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background: none;
  color: $light-color;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  // outline: none;

  transition: background-color linear 250ms;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
